@page "/"

@using SharedLibrary

@{
    @*Memory.BindableBase.Text = "loadc 10\n"
        + "mark\n"
        + "loadc fac\n"
        + "call\n"
        + "loadc 20\n"
        + "add\n"
        + "halt\n"
        + "fac enter 12\n"
        + "loadc 30\n"
        + "loadc 40\n"
        + "return 0";*@

    @*Memory.BindableBase.Text = "main enter 7\n"
        + "alloc 1\n"
        + "alloc 1\n"
        + "mark\n"
        + "loadc 4\n"
        + "loadc fac\n"
        + "call\n"
        + "fac enter 12\n"
        + "loadc 30\n"
        + "loadc 40\n"
        + "return 0";*@
}

<div style="margin: 10vw;">
    <div class="left-view">
        <textarea style="height: 100%; width: 100%" @bind="Memory.BindableBase.Text" @bind:event="oninput"></textarea>
        <input type="button" value="Interpret" style="display: inline-block; width: 100%" @onclick="() => Interpreter.Program = Parser.ParseInstructions()" />
    </div>
    <div class="center-view">
        <table style="height: 100%">
            <tr style="height: 100%"></tr>

            @if (Interpreter.Program != null
                 && Interpreter.Program.Count > 0)
            {
                <tr>
                    <th><span style="color: white">></span></th>
                    <th>PC Address</th>
                    <th>Instruction</th>
                    <th>PC</th>
                    <th>FP</th>
                    <th style="background-color: lightblue">SP</th>
                    <th style="background-color: lightgreen">EP</th>
                    <th>HP</th>
                </tr>
                foreach (Instruction instruction in Interpreter.Program)
                {
                    <tr>
                        <td>
                            @if (Interpreter.Program.IndexOf(instruction) == Interpreter.Registers.ProgramCounter)
                            {
                                <b>></b>
                            }
                        </td>
                        <td>@instruction.Address</td>
                        <td><b>@String.Join(' ', instruction.ValueWithArgs)</b></td>

                        @if (Interpreter.Program.IndexOf(instruction) == 0)
                        {
                            <td>@Interpreter.Registers.ProgramCounter</td>
                            <td>@Interpreter.Registers.FramePointer</td>
                            <td style="background-color: lightblue">@Interpreter.Registers.StackPointer</td>
                            <td style="background-color: lightgreen">@Interpreter.Registers.ExtremePointer</td>
                            <td>@Interpreter.Registers.HeapPointer</td>
                        }
                        else
                        {
                            <td colspan="5" style="background-color: lightgray"></td>
                        }
                    </tr>
                }
                <tr>
                <td colspan="8">
                <div style="margin: 2vw; text-align: center">
                    <input type="button" value="Restart" @onclick="() => Interpreter.Run(Interpreter.Move.Restart)"/>
                    <input type="button" value="Next" @onclick="() => Interpreter.Run(Interpreter.Move.Next)"/>
                    <input type="button" value="Run" @onclick="() => Interpreter.Run(Interpreter.Move.End)"/>
                </div>
                </td >
                </tr >
            }
            else
            {
                <tr>
                    <td>No instructions loaded at this time.</td>
                </tr>
            }
        </table>
    </div>

    <div class="right-view">
        <table>
            <tr>
                <th>Address</th>
                <th>Value</th>
            </tr>
            @for (int i = Memory.HeapSize; i >= 0; i--)
            {
                <tr>
                    @{
                        string color = "white";

                        if (i <= Interpreter.Registers.ExtremePointer)
                        {
                            color = "lightgreen";
                        }

                        if (i <= Interpreter.Registers.StackPointer)
                        {
                            color = "lightblue";
                        }
                    }

                    <td style="background-color: @color">@i</td>
                    <td style="background-color: @color">@Memory.Main[i]</td>
                </tr>
            }
            <tr>
                <th>Address</th>
                <th>Value</th>
            </tr>
        </table>
    </div>
</div>